mat-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  mat-list-item {
    height: auto;
    width: auto;
  }
}

mat-list-item {
  display: block;
  margin-bottom: 4px;
}

mat-list-item [matListItemTitle] {
  font-weight: bold;
  display: block;
}

mat-list-item [matListItemLine] {
  margin-left: 12px;
  display: block;
}
