@use '@angular/material' as mat;

html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$violet-palette,
    typography: Noto Sans,
    density: 0
  ))
}

body {
  font: var(--mat-sys-body-medium);
  color: var(--mat-sys-on-surface);
  background-color: var(--mat-sys-surface-container);
}

.feature-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;

  .mat-mdc-card {
    background: linear-gradient(45deg, #f0060b, #7702ff);
  }

  .feature-list-card {
    min-width: 250px;
    margin: 10px;


    mat-card-subtitle {
      font-size: 10px;
      color: inherit;
    }

    mat-card-content {
      display: flex;
      flex-direction: column;
    }

    mat-list-item [matListItemTitle],
    mat-list-item [matListItemLine] {
      color: inherit;
      display: block;
      margin-bottom: 4px;
    }

    mat-list-item [matListItemTitle] {
      font-weight: bold;
      display: block;
    }

    mat-list-item [matListItemLine] {
      margin-left: 12px;
      display: block;
    }
  }
}



