@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$violet-palette,
      tertiary: mat.$orange-palette,
      theme-type: light,
    ),
    typography: Noto Sans,
    density: 0,
  ));
}

body {
  color-scheme: light-dark;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the users agent margin.
  margin: 0;
}

.feature-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.feature-list-card {
  margin: 10px;

  mat-card-subtitle {
    font-size: 10px;
  }

  mat-list-item {
    display: block;
    margin-bottom: 4px;
  }

  mat-list-item [matListItemTitle] {
    font-weight: bold;
    display: block;
  }

  mat-list-item [matListItemLine] {
    margin-left: 12px;
    display: block;
  }
}
