@use '@angular/material' as mat;

html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$violet-palette,
    typography: Noto Sans,
    density:(
      scale:0
    )
  ))
}

body {
  font: var(--mat-sys-body-medium);
  color: var(--mat-sys-on-surface);
  background-color: var(--mat-sys-surface-container);
}

:root {
  @include mat.form-field-overrides((
    outlined-input-text-color: white,
    outlined-label-text-color: white,
    outlined-outline-color: gray,

    outlined-focus-label-text-color: white,
    outlined-focus-outline-color: gray,



  ));
}

.feature-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;

  .mat-mdc-card {
    background: linear-gradient(45deg, #f0060b, #7702ff);
  }

  .feature-list-card {
    min-width: 250px;
    margin: 10px;

    .mat-mdc-card-title {
      color: white;
    }

    mat-card-subtitle {
      font-size: 10px;
      color: inherit;
    }

    mat-card-content {
      display: flex;
      flex-direction: column;
    }

    mat-list-item [matListItemTitle],
    mat-list-item [matListItemLine] {
      color: inherit;
      display: block;
    }

    mat-list-item [matListItemTitle] {
      font-weight: bold;
    }

    mat-list-item [matListItemLine] {
      margin-left: 12px;
    }
  }
}

.resource-card {
  width: 60%;
  margin: 10px;
  background: linear-gradient(45deg, #f0060b, #7702ff);
  color: white;

  .horizontal-wrap-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  .horizontal-wrap-list mat-list-item {
    width: auto;
    min-width: 100px;
  }

  span.mat-mdc-list-item-title.mdc-list-item__primary-text,
  a.mat-mdc-list-item-line.mdc-list-item__secondary-text,
  span.mat-mdc-list-item-line.mdc-list-item__secondary-text {
    color: inherit;
  }
}
