
html, body {
  height: 100%;
}

.feature-card {
  width: 300px;
  margin: 2em auto;
}

mat-list-item.mat-mdc-list-item.mdc-list-item.mat-mdc-list-item-single-line.mdc-list-item--with-one-line {
  height: 32px;
}

.feature-container .feature-card {
  display: inline-block;
  margin-right: 10px;
}
